
header {
	display: table;
	position: fixed;
	text-align:left;
	left: 0;
	top: 0;
	font-size: 1em;
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	border-bottom: 1px solid #000;
  z-index: 5;
}

h1, h2, h3, h4, h5, h6, div.h7, div.h8, div.h9 {
  font-family: "Computer Modern Serif";
	font-variant: small-caps;
  font-size: 1.5rem;
  border: 1px solid #000;
	margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px;
  font-weight: normal;
	width:80%;
}

h1 {
  z-index: 5;
	left: 0;
  font-size: 3rem;
  padding: 0px;
	background-color: #004AD3;
  margin: 0;
	width: 100%;
}

h2 { background-color: #90BDFF; }
h3 { background-color: #90DDFF; }
h4 { background-color: #90EDFF; }
h5 { background-color: #90FDFF; }
h6 { background-color: #90BDFF; }
div.h7 { background-color: #90DDFF; }
div.h8 { background-color: #F0FFFF; }
div.h9 { background-color: #FFFFFF; }

body {
  /* background-color : #575757; */
  font-family: "Computer Modern Serif";
  font-size: 20px;
	max-width: 90%;
	margin: auto;
  padding-bottom: 4em;
}

td {
  font-size: 1rem;
}


pre {
	background-color: #FFF;
	margin: auto;
	white-space: pre-wrap;
	border: 1px solid #000;
	display: block;
	width:95%;
	font-size: 1rem;
	color:#000000;
}

pre span.co { color: #60a0b0; font-style: italic; } /* Comment */
pre span.op { color: #994400; } /* Operator */
pre span.kw { color: #1800DD; } /* Keyword */

button {
  background-color: #90BDFF;
  color: black;
  padding: 10px 16px;
  text-align: center;
	border-radius: 8px;
  border: 2px solid #000000;
	width: 10rem;
  font-size: 16px;
  cursor: pointer;
	transition-duration: 0.5s;
}

button:hover {
  border: 2px solid #90BDFF;
	color: #90BDFF;
  background-color: #EEEEEE;
}

.but_green {
	width: 5rem;
  background-color: #00B000;
}

.but_green:hover {
  border: 2px solid #00B000;
	color: #00B000;
}

.but_red {
	width: 5rem;
  background-color: #ff3333;
}

.but_red:hover {
  border: 2px solid #ff3333;
  color: #ff3333;
}

code {
	font-size:1rem;
}

textarea {
	background-color: #FFFFFF;
	color: #000000;
  display: block;
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	font-size: 0.8em;
 	border: 2px solid #000000;
	border-radius: 8px;
}

.ok {
 	border: 2px solid #00AA00;
}

.error {
 	border: 2px solid #DD4444;
}

.container {
   text-align: center;
}

.container pre {
  display: inline-block;
  text-align: left;
}

.column {
	margin: auto;
}

.left {
  width: 32%;
	float: left;
}

.right {
  width: 58%;
	float: right;
}

#cursorPos {
	font-size:0.7em;
	font-family: monospace;
	text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


footer {
	display: table;
	position: fixed;
	text-align:left;
	left: 0;
	bottom: 0;
	font-size: 1em;
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	border-top: 1px solid #000;
	background: #ddd;
}
